.main-board {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em;
}

.column {
    width: 100%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5em;
    margin-bottom: 1em;
}

.title span {
    height: 15px;
    width: 15px;
    background-color: #8A8A8A;
    border-radius: 50%;
}

.msg {
    font-weight: bold;
}

span.to-do {
    background: #65BFDB;
}

span.doing {
    background: #8475DB;
}

span.done {
    background: #83D4BA;
}

.title h3 {
    color: #8A8A8A;
    font-size: 1em;
}

.task {
    width: 100%;
    background: #1F1F1F;
    margin-bottom: 1em;
    padding: 1em 2em;
    border-radius: .5em;
    cursor: pointer;
    transition: .5s;
}

.task:hover {
    transform: scale(1.05);
}

.task h4 {
    margin-bottom: .3em;
}

.task span {
    color: #8A8A8A;
}



@media (max-width: 1000px) {
    .main-board {
        display: flex;
        flex-direction: column;
    }
}