.back-btn {
    padding: 1em;
    font-size: 1.6em;
    color: var(--primary-color);
}

.profile-container {
    width: 100%;
    max-width: 700px;
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--secondary-color);
    padding: 2em;
    border-radius: .5em;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.title-container h2 {
    color: var(--text-primary-color);
}

.logout-btn {
    background: var(--primary-color);
    color: #FFF;
    border: 1px solid var(--primary-color);
    border-radius: 2em;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

.logout-btn:hover {
    background: transparent;
    color: var(--primary-color);
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.profile-info strong {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0 .5em;
    color: var(--text-primary-color);
}

.profile-info span {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid var(--text-secondary-color);
    color: var(--text-secondary-color);
}